@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 14% 96%;
    --foreground: 240 7% 7%;
    --card: 0 0% 100%;
    --card-foreground: 240 7% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 7% 7%;
    --primary: 242.93 100% 67.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 8% 91%;
    --secondary-foreground: 240 7% 7%;
    --muted: 60 8% 91%;
    --muted-foreground: 240 4% 42%;
    --accent: 243.53 100% 96.67%;
    --accent-foreground: 240 7% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 84%;
    --input: 240 5% 84%;
    --ring: 242.93 100% 67.84%;
    --radius: 1.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 240 7% 6%;
    --foreground: 60 9% 96%;
    --card: 240 6% 10%;
    --card-foreground: 60 9% 96%;
    --popover: 240 6% 10%;
    --popover-foreground: 60 9% 96%;
    --primary: 240 100% 77.25%;
    --primary-foreground: 240 7% 6%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 60 9% 96%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 28.57% 19.22%;
    --accent-foreground: 60 9% 96%;
    --destructive: 0 70.9% 59.4%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 240 100% 77.25%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
